* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    
}
/* color: #10b17b; posible color a usar en titulo */
/* Dandole estilos al nav (BOOTSTRAP)*/

.Logo img {
    width: 50px;
}

.nav-item a{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
    color:  #231552;
    
}
.nav-item a:hover{
color: #ffd64b;
transition: 0.4s;
}

.nav-item{
    margin-left: 30px;
    margin-right: 30px;
}

.container-fluid{
    background-color: #ffffff;
}

.relleno img {
    width: 100px;
}
.nav-item-registro a{
    color: #ffd64b;
    cursor: pointer;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;

}

.Main__nosotros {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
}

.Article__nosotros {
    width: 100%;
    
    display: flex;
    justify-content: center;

    h3{
        color: #442b96;
        letter-spacing: 2px;
        font-size: 30px;
        text-align: center;

        span {
            color: #10b17b;
        }
    }
}

.Section__nosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    
    margin-top: 50px;

    h3{
        color: #000000;
        letter-spacing: 2px;
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
        }

    li {
        list-style: none;

        ul{
            border-bottom: 1px solid black;
        }
    }

    &__1card{
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        align-items: center;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
        margin-right: 50px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

    &__2card{
        display: flex;
        flex-direction: column;
        
        align-items: center;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
        border: 1px solid black;
        
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        h3 {
            margin-top: 30px;
        }

       
    }
}

.Defensa{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 50px;

    h3{
        font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
    }

    a{
        color: #6e6e6e;
    font-size: 15px;
    text-decoration: none;
    
    }

    &__texto{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}
